{% extends "proxy/base.html" %}
{% from "proxy/macros.html" import link_line %}

{% block title %}
  {% if title %}{{ title }}{% else %}{{ super() }}{% endif %}
{% endblock %}

{% block extrahead %}
  <script src="/static/media-embed.js" defer></script>
{% endblock %}

{% block content %}
<div class="gemini">
{% for item in content -%}
    {% if item.item_type == "h1" -%}
        <h1 id="{{ item.anchor }}"><a href="#{{ item.anchor }}" class="header-anchor">{{ item.text }}</a></h1>
    {% elif item.item_type == "h2" -%}
        <h2 id="{{ item.anchor }}"><a href="#{{ item.anchor }}" class="header-anchor">{{ item.text }}</a></h2>
    {% elif item.item_type == "h3" -%}
        <h3 id="{{ item.anchor }}"><a href="#{{ item.anchor }}" class="header-anchor">{{ item.text }}</a></h3>
    {% elif item.item_type == "link" -%}
        {{ link_line(item) }}
    {% elif item.item_type == "pre" -%}
        <pre>{{ "\n".join(item.lines) }}</pre>
    {% elif item.item_type == "blockquote" -%}
        <blockquote>{% for line in item.lines %}{{ line }}<br>{% endfor %}</blockquote>
    {% elif item.item_type == "ul" -%}
        <ul>
        {% for line in item.lines %}<li>{{ line }}</li>
        {% endfor %}</ul>
    {% elif item.item_type == "p" -%}
        <p>{% for line in item.lines %}{{ line }}<br>{% endfor %}</p>
    {% elif item.item_type == "hr" -%}
        <hr>
    {% elif item.item_type == "prompt" -%}
        <form method="get" action="{{ item.url }}" class="input-line">
            <label>{{ item.prefix }}<span class="input-text">{{ item.text }}</span>
                <textarea name="q" rows="1"></textarea>
            </label>
            <input type="submit" value="Send">
        </form>
    {% endif %}
{%- endfor %}
</div>
{% endblock %}
