{% extends "proxy/base.html" %}

{% block content %}
  <h2>Titan Upload</h2>
  <p><i>This form will upload data to the server using the titan:// protocol.</i></p>
  <form class="titan-form" method="post">
    <fieldset>
      <legend>Enter text</legend>
      <div>
        <textarea id="titan-content" name="content" rows="15" aria-label="Text content"></textarea>
      </div>
      <div>
        <label for="titan-text-token">Token (optional):</label><br>
        <input id="titan-text-token" type="text" name="token" size="30"
               autocapitalize="none" autocomplete="off" autocorrect="off"
               spellcheck="false">
      </div>
      <div>
        <input type="submit" value="Upload text">
      </div>
    </fieldset>
  </form>
  <details>
    <summary>Or upload a file instead</summary>
    <form class="titan-form" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload a file</legend>
        <div>
          <input id="titan-file" type="file" name="file" aria-label="File">
        </div>
        <div>
          <label for="titan-file-mime">MIME type (optional):</label><br>
          <input id="titan-file-mime" type="text" name="mime" size="30"
                 placeholder="detected from file">
        </div>
        <div>
          <label for="titan-file-token">Token (optional):</label><br>
          <input id="titan-file-token" type="text" name="token" size="30"
                 autocapitalize="none" autocomplete="off" autocorrect="off"
                 spellcheck="false">
        </div>
        <div>
          <input type="submit" value="Upload file">
        </div>
      </fieldset>
    </form>
  </details>
  <p>
    Submitting with no content will upload zero bytes, which some servers
    interpret as a request to delete the resource.
  </p>
{% endblock %}
